* {
    box-sizing: border-box;
}

header {
    height: 100px;
}

#main {
}

.pop-up {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100vh;
    width: 100%;
    color: white;
}

.comments-section {
    background: grey;
    border: 1px solid black;
}

nav {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 1rem; */
}

#input-field {
}

legend {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.btn {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    padding: 15px 15px;
    text-shadow: 0px 1px 0px #3d768a;
}
.btn:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}
.btn:active {
    position: relative;
    top: 1px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 1rem;
}

.card {
    border: 1px solid black;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    margin: 10px;
    padding: 10px;
}

img {
    height: 300px;
    width: 350px;
}

@media screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
