* {
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 100px;
}

#main {
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    /* justify-items: center;
    align-items: center; */
    /* place-items: center / center; */
    justify-content: space-around;
}

.card {
    border: 1px solid black;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    margin: 10px;
    padding: 10px;
}

img {
    height: 300px;
    width: 350px;
}

@media screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12fr;
    }
}
